@import '~bootstrap/scss/bootstrap';

#root {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.folder-header {
  display: block;
  float: left;
  width: 300px;
}

.folder-body {
  display: block;
  float: left;
  width: 300px;
  margin-left: 40px;
}

.hide{
  display:none;
}

.directory-button{
 background-color: transparent;
 border:0px;
 padding:0px;
}
